app/site/xmlschema/content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="site">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="module" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="module">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="allow_seo" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="allow_seo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" />
                <xs:element ref="act" />
                <xs:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="config" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="hidden" />
            </xs:sequence>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="route" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="title" type="xs:string" use="required" />
    <xs:element name="act" type="xs:string" />
    <xs:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="config" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="hidden" type="xs:string" />

    <xs:element name="param">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="seo_title"/>
                <xs:element ref="seo_keywords"/>
                <xs:element ref="seo_content"/>
                <xs:element ref="seo_nofollow"/>
                <xs:element ref="seo_noindex"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="config">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>

